.hero {
  background-image: url("../images/macbooknight.jpg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 80vh;
  position: relative;
  background-position: 0% 100%;
}

.hero-text {
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-paragraph {
  width: 50%;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.3;
  margin: 1rem;
}

.flex-child {
  padding: 10px;
}

#about-section {
  background-color: black;
  padding: 2rem;
}

.about-description {
  height: auto;
  width: 60%;
  margin: auto;
  padding: 2rem;
  color: white;
  background-color: black;
  line-height: 2;
  font-size: 1.4rem;
  text-align: justify;
  border-radius: 0.5rem;
}
