#wrapper {
  display: flex;
  justify-content: center;
}

#basket-container {
  width: 60%;
  height: 100%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.33);
}

#basket-h1 {
  font-size: 2rem;
  text-align: left;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 1rem;
  padding-bottom: 2rem;
}

#basket-h1 span {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-list {
  list-style-type: none;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

/*Single item row*/
.item .name,
.name-col {
  width: 40%;
}

.item .quantity,
.item .price,
.item .currency,
.quantity-col,
.price-col,
.currency-col {
  width: 20%;
}

.item-header {
  padding: 0.5rem;
}

.basket-card {
  padding: 1rem 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.basket-card,
.head,
.remove {
  font-size: 1.3rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

.remove-item-li {
  padding: 0;
}
.remove {
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 0.5rem;
}

/* ---------------------*/

#total-amount {
  padding: 1rem;
}

#checkout {
  padding: 5rem;
  align-items: center;
}

.checkout-btn {
  width: 40%;
  height: 3.3rem;
  left: 30%;
  font-size: 1.3rem;
  border-radius: 5.5rem;
  padding: 0.8rem;
  margin: 1rem;
  border: none;
  background-color: #4c12a1;
  color: white;
  cursor: pointer;
}

.purple-link {
  color: #4c12a1;
}

.basket-top {
  justify-content: space-between;
}

.clearCart-btn {
  cursor: pointer;
  padding: 1rem 1.7rem;
  color: white;
  background-color: #4c12a1;
  border-radius: 3.5rem;
  font-size: 1.2rem;
}
