/*---------- Common styles ----------*/
.basic-shadow {
  -webkit-box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.1);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

/*---------- Containers ----------*/
#wrapper {
  display: flex;
  justify-content: center;
  padding: 5rem 1rem;
  height: 100%;
}

#basket-container {
  width: 60%;
  height: 100%;
  padding: 2rem;
  background-color: white;
  margin-bottom: 5rem;
}

.basket-top {
  justify-content: space-between;
}

/*---------- Heading elements ----------*/
#basket-h1 {
  font-size: 2rem;
  text-align: left;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.6);
  line-height: 2;
}

#basket-h1 span {
  font-size: 3rem;
  font-weight: bold;
  color: black;
}

/*----------Single item row (basket item)----------*/
.item .name,
.name-col {
  width: 40%;
}

.item .quantity,
.item .price,
.item .currency,
.quantity-col,
.price-col {
  width: 20%;
}

.item-header {
  padding: 2rem 0.5rem;
  margin: 2rem 0rem;
  font-size: 1.4rem;
  background-color: #00000003;
}

.basket-card {
  padding: 1rem 0.5rem;
  margin: 0.5rem;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
}

.basket-card,
.remove {
  font-size: 1.3rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

/*---------- Grey Buttons ----------*/

#remove-cross {
  display: none;
}

.remove-item-li {
  padding: 0;
}

.remove {
  width: 100%;
  height: 100%;
  padding: 0.9rem 0.7rem;
}

.clearCart-btn {
  padding: 1rem 1rem;
  margin-right: 0.5rem;
}

.basket-btn {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  background-color: #f5f5f59b;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
  border: none;
  font-size: 1.3rem;
}

.basket-btn:hover {
  background-color: #e9e9ed;
}

/*---------- Checkout ----------*/

#total-amount {
  padding: 1rem;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  line-height: 1;
  text-align: center;
  width: 100%;
}

#checkout {
  padding: 5rem;
  align-items: center;
}

.checkout-btn {
  width: 40%;
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
  border: none;
  background-color: #000000;
  color: white;
  cursor: pointer;
}
.checkout-btn:hover {
  background-color: #0062cc;
}

.blue-link {
  font-size: 1.5rem;
  color: #0062cc;
  padding-top: 1rem;
  width: 100%;
  text-align: center;
}

.blue-link:hover {
  font-size: 1.7rem;
  color: rgba(0, 0, 0, 0.6);
}

/*---------- MEDIA QUERIES ----------*/

@media (min-width: 1794px) {
  .basket-btn {
    font-size: 1.2rem;
    padding: 1rem 0.5rem;
  }
}

@media (min-width: 1462px) and (max-width: 1793px) {
  .basket-btn {
    font-size: 1rem;
    padding: 0.8rem 0.3rem;
  }
}

@media (max-width: 1400px) {
  #remove-text,
  .button-col {
    display: none;
  }
  #remove-cross {
    display: flex;
    font-size: 1.2rem;
  }

  .quantity-col,
  .price-col {
    width: 25%;
  }
  .checkout-btn {
    width: 100%;
    margin: auto;
  }
  #total-amount {
    font-size: 1.5rem;
  }
  .blue-link {
    font-size: 1.2rem;
  }
}
