#contact-page-h1 {
  text-align: center;
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
  color: white;
  padding-right: 2rem;
  /* position: absolute;
  left: 30%; */
}

#contact-page-h1 span {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.7);
}

#contact-section {
  min-height: 40vh;
  padding: 5rem 0rem;
}


@media (max-width: 490px){
  #contact-page-h1 {
    font-size: 2rem;
  }
}
