.dropdown-div {
    position:relative;
    top: 0%;
    justify-content: center;
    width: 60%;
    margin: auto;
    
    display: flex;
    flex-direction: row;
    max-width: 400px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    text-align: center;
    animation: growTop 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
    transform-origin: top center;
    overflow: hidden;
    padding: 10px;
    background-color: white;
}

@keyframes growTop {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}

.drop-titles {
    padding: 10px;
    font-weight: bold;
}

.drop-button {
    background-color: white;
    width: 200px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}

.drop-button:hover {
    background-color: #f2f2f2;
}

@media only screen and (max-width: 740px) {
    .dropdown-div {
        width: 100%;
    }
}
  
  @media only screen and (max-width: 440px) {
    /* for screens smaller than 480px wide */
    .dropdown-div {
        flex-direction: column;
        justify-content: center;
    }

    .drop-button {
        width:100%
    }
    
  }