.dropdown-div {
    display: flex;
    flex-direction: row;
    max-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;
    text-align: center;
    animation: growDown 300ms ease-in-out forwards;


}
@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.drop-titles {
    padding: 10px;

}

.drop-button {
    background-color: white;
    width: 200px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    
}

.drop-button:hover {
    background-color: gray;
}