#main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 7vh;

  color: white;
  font-size: 1.3rem;

  position: fixed;
  bottom: 0;
  width: 100%;
}
