.hero {
  background-image: url("../images/macbooknight.jpg");

  background-attachment: fixed;
 background-position: center center; 
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.hero-text {
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  bottom: 30px;
}

.hero-paragraph {
  width: 50%;
  font-size: 1.4rem;
  justify-content: center;
  text-align: center;
  line-height: 1.3;
  margin: 1rem;
}

.flex-child {
  padding: 10px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  
}

.about-title {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.about-title h2{
  font-size: 2.5rem;
}

.about-description {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;  
  justify-content: flex-end;
  width: 30%;
  line-height: 2;
  font-size: 1.2rem;
  text-align: justify;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 730px) {
  .about-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .about-description {
    width: 80%;
  }

  .about-title h2 {
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

}




