.item-products {
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    margin: 20px;
    background-color: #ffffff;
    transition: all 0.2s ease-in-out;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .item-products:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }

  .item-products h2 {
    font-size: 2rem;
    padding: 20px;
    margin: 20px;
    text-align: center;
    color: #333333;
    
  }

  
  

  .related-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    max-width: 1200px;
    flex-wrap: wrap;
  }
  .comment-section {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 10px 20px 30px -10px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    color: #444;
    }
    
    .comment-section h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    }
    
    .comment-section p {
    font-size: 18px;
    margin-top: 5px;
    padding: 10px;
      }

@media screen and (max-width: 991px) {
    .related-items {
      width: 100%; /* 2 columns */
    }
  }
  