.not-rendered{
  
  background: #FFFFFF;
  border-radius: 7px;

}

.not-rendered:hover {
    background: rgb(255, 255, 255 ,0.5);

}

.rendered{
    background: rgb(255, 255, 255, 0.5);
    border-radius: 7px;

}

.userName {
    color: white;
    margin: 9px;
    font-size: 1.2rem;
}



.navBar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 70px;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav h1 {
    color: white;
    display: flex;
    align-items: center;
    
}

.buttons {
    padding: 10px;
    margin: 10px;
    color: black;
    text-decoration: none;
    max-height: 40px;

}

.cartImage {
    padding: 10px;
    max-width: 100%;
    height: auto;
}

.brandName {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  color: white;
  text-decoration: none;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}

@media only screen and (max-width: 730px) {

    .navBar {
      flex-direction: column;
      height: auto;
      padding: 10px;
    }
  
    .buttonContainer {
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
  
    .buttons {
      padding: 5px;
      width: 100%;
      margin: 5px;
      text-align: center;
      background-color: rgb(99, 98, 98);
      font-size: 14px;
      max-height: 30px;
      color: white;
    }

    .rendered{
        background: rgba(28, 27, 27, 0.5);
        border-radius: 7px;
    
    }
    

  
    .cartImage {
      padding: 5px;
      margin-top: 5px;
      max-width: 100%;
      height: auto;
    }
  
    .userName {
      font-size: 1rem;
      margin-top: 20px;
    }
  
    .brandName {
      font-size: 20px;
      padding-left: 0;
      margin-bottom: 10px;
    }
  
  }