.not-rendered{
  padding: 10px;
  background-color: black;
  border-radius: 7px;
  z-index: 10;
  color: white;

}

.hidden {
  display: none;
}

.brand-hamburger {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: none;
}


.not-rendered:after{
  display: block;
  content: '';
  border-bottom: solid 3px white;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  
}

.not-rendered:hover:after{
  transform: scaleX(1)

}

.rendered{
    background-color: black;
    color: white;
    border-bottom: solid 3px white;

}

.userName {
  color: white;
  margin: 9px;
  font-size: 1.2rem;
}

/**/

.navBar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 70px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav h1 {
  color: white;
  display: flex;
  align-items: center;
}

.buttons {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    max-height: 40px;

}

.cartImage {
    padding: 10px;
    max-width: 60px;
    height: auto;
    padding-bottom: 10px;
}

.brandName {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: white;
  text-decoration: none;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 730px) {
  .icon {
    display: inline;
    margin-right: 10px;
    height: 1.2rem;
  }

  .navBar {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .buttonContainer {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .buttons {
    padding: 5px;
    width: 100%;
    margin: 5px;
    text-align: center;
    background-color: rgb(99, 98, 98);
    font-size: 14px;
    max-height: 30px;
    color: white;
  }

    .icon {
        display: inline;
        margin-right: 10px;
        height:1.2rem;
    }

    .navBar {
      flex-direction: column;
      height: auto;
      padding: 10px;
      width: 100%;
      position: fixed;
      top: 0px;
      z-index: 1000;

      
    }
  
    .buttonContainer {
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
  
    .buttons {
      padding: 5px;
      width: 100%;
      margin: 5px;
      text-align: center;
      background-color: black;
      font-size: 14px;
      max-height: 30px;
      color: white;
    }

    

  
    .cartImage {
      padding: 5px;
      margin-top: 5px;
      max-width: 70px;
      height: auto;
    }
  
    .userName {
      font-size: 1rem;
      margin-top: 20px;
    }
  
    .brandName {
      font-size: 20px;
      padding-left: 0;
      margin-bottom: 10px;
    }

  
  }
