.not-rendered{
  
  background: #FFFFFF;
  border-radius: 7px;

}

.not-rendered:hover {
    background: rgb(255, 255, 255 ,0.5);

}

.rendered{
    background: rgb(255, 255, 255, 0.5);
    border-radius: 7px;

}

.navBar{
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav h1 {
    color: white;
    display: flex;
    align-items: center;
    
}

.buttons {
    padding: 10px;
    margin: 10px;
    color: black;
    text-decoration: none;
    max-height: 40px;

}

.cartImage {
    padding: 10px;
    max-width: 100%;
    height: auto;
}

.brandName {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  color: white;
  text-decoration: none;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}